* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(255, 0, 13), rgb(2, 1, 77));
    padding: 10px;

}

.todo {
    max-width: 540px;
    background: rgb(103, 181, 253);
    margin: 100px auto 20px;
    padding: 70px 100px 70px;
    border-radius: 5px;
    box-shadow: 5px 8px 8px 5px #050505;
}

.todo h1 {
    color: rgb(0, 0, 0);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffcccc;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* Styles for Input and Button - Consistent Across All Screen Sizes */
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
    box-shadow: #000000;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #000000;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    
}
button:hover{
    background: #ffffff;
    color: #000000;
   
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(imgs/uncheck.jpeg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(https://i.pinimg.com/564x/b1/bb/7d/b1bb7d562b6005480af3ef769ead5f41.jpg);
}

ul li span {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #000000;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background: #ff0000;
    border-radius: 50%;
    color: #ffffff;
}

/* Media queries for responsiveness */

@media screen and (max-width: 768px) {
    .container {
        padding: 5px;
    }

    .todo {
        padding: 70px 20px 70px;
    }

    .todo h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    .todo {
        padding: 70px 10px 70px;
    }

    .todo h1 {
        font-size: 24px;
    }

    .row {
        padding-left: 10px;
    }
}
